<div class="show">


  <!-- <#% @products.each do |product| %> -->


            <!-- <div class='thumbnail'>
            <p>
              <strong>Product Name:</strong>
              <#%= product.title %></br>
            </p>

            <p>
              <strong>Price:</strong>
              <#%= product.price %>
            </p>

            <#%end %> -->

            <div class="list-container">
  <% @products.each do |product| %>
  <ul class="list-items">
    <li id="image">

    <li id="name"><h2><%= link_to product.title, product_path(product) %></h2></li>

  </ul>
  <% end %>
</div>
      </div>
