<div class="show">


  <% @products.each do |product| %>


            <div class='thumbnail'>
            <p>
              <strong>Product Name:</strong>
              <%= product.title %></br>
            </p>

            <p>
              <strong>Price:</strong>
              <%= product.price %>
            </p>

            <%end %>


          </div>
