<div class="show">
<h1><%= @product.title %></h1>


            <div class='thumbnail'>
            <p>
              <strong>Product Name:</strong>
              <%= @product.title %></br>
            </p>

            <p>
              <strong>Price:</strong>
              <%= @product.price %>
            </p>


          </div>
